.maincontainer{
  display: flex;
  align-items: center;
  justify-content: center;    
  min-height: 100vh;
  width: 100%;
}
.heading {
  color: rgba(2, 32, 61, 0.913);
  font-size: 50px;
  font-weight: bold;
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
  background-color:#637577fa;
  border-radius: 15px;
  box-shadow: 2px 2px 10px 1px #333;
  overflow: hidden;
  padding: 10px;
}
.question {
  margin: 8px;
  box-shadow: 0px 0px 10px 1px #a2a3a3;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: 2px;
  min-width: 100%;
  min-height: 90px;
  color: white;

}
.option {
  display: flex;
  flex-direction: column;
  margin: 6px 4px;
  width: 100%;
  padding: 10px;
}
.questionnumber {
  margin: 20px;
  font-family: "Times New Roman", Times, serif;
  color: white;
}
.optionbtn {
  box-shadow: 0px 0px 4px 1px rgb(128, 123, 123);
  padding: 5px;
  border-radius: 3px;
  border: none;
  outline: none;
  transition: 0.3s;
  margin: 5px;
  background-color: white;
  font-size: 15px;
}
.optionbtn:hover {
  background-color: rgb(212, 118, 212);
  color: white;
}
.button {
padding: 15px;
  margin: 10px;
  border: none;
  background-color: #021e11e8;
  color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 2px 1px rgb(127, 109, 109);
  font-size: 32px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  transition: 0.2s;
  width: 300px;
}

.button:active {
  box-shadow: none;
}
.checked{
  background-color: rgb(179, 83, 179);
  color:white;
  box-shadow: 3px 3px 4px 1px rgb(78, 69, 78);
}
.direct{
  display: flex;
  width: 550px;
  justify-content: space-evenly;
  height: 50px;
  align-items: center;
  margin-top: 10px;
}
.direct button{
  border: 1px solid;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  background-color:rgba(47, 193, 166, 0.24);
  
}
